/* 
===============================================================

	Marketing - Corporate & Enterprise Website CMS By EZCode
	-------
	For more details --> http://themeforest.net/user/ezcode
	
	Version: 1.2
	
===============================================================
 */
 
/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	
}
h2 {
    font-size: 50px;
    letter-spacing: 2px;
}
h4 strong {
    font-size: 25px;
    letter-spacing: 1px;
}
#page_title h1 {
    font-size: 50px;
    letter-spacing: -1px;
}
.descriptions {
    padding: 0 0 20px 0;
}
.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
	background-color: rgba(0, 0, 0, 0.6);
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 3em;
    font-weight: 700;
}

input.form-control {
    border-radius: 0px;
}


/*--------------------------------------------------------------
start count stats
--------------------------------------------------------------*/
#counter-stats {
    padding: 50px 0 25px 0;
}
section#counter-stats {
	xdisplay: flex;
	justify-content: center;
	xmargin: 50px 0;
}

.stats {
	text-align: center;
	font-size: 35px;
	font-weight: 700;
	font-family: "Montserrat", sans-serif;
}

.stats .fa {
	color: #008080;
	font-size: 60px;
}

/* -------------------------------- 

1. Auto-Hiding Navigation - Simple

-------------------------------- */
.contact-top a {
    font-size: 16px;
	color: #fff;
}
.cd-primary-nav {
    background: #1AABDD;
    padding: 5px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
	width: 100%;
}
.cd-primary-nav .contact-top {
    float: left;
    padding-top: 3px;
}
.contact-top .list {
    float: left;
    color: #ffffff;
    margin-right: 20px;
	font-size: 16px;
}
.social-top {
    float: right;
}
.social-top ul {
    float: right;
    margin-bottom: 0;
}
.social-top ul li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
}
.social-top ul li a {
    width: 30px;
    line-height: 30px;
    color: #fff;
    display: block;
    text-align: center;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    font-size: 16px;
}
.social-top ul li a:hover {
    background: #333;
}

.cd-auto-hide-header {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: #ffffff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}
.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header {
    height: 40px;
  }
}

.cd-auto-hide-header .logo,
.cd-auto-hide-header .nav-trigger {
  position: absolute;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.cd-auto-hide-header .logo {
  left: 5%;
}
.cd-auto-hide-header .logo a, .cd-auto-hide-header .logo img {
  display: block;
}

.cd-auto-hide-header .nav-trigger {
  /* vertically align its content */
  display: table;
  height: 100%;
  padding: 0 1em;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: #25283D;
  font-weight: bold;
  right: 0;
  border-left: 1px solid #f2f2f2;
}
.cd-auto-hide-header .nav-trigger span {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
}
.cd-auto-hide-header .nav-trigger em, .cd-auto-hide-header .nav-trigger em::after, .cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon */
  display: block;
  position: relative;
  height: 2px;
  width: 22px;
  background-color: #25283D;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.cd-auto-hide-header .nav-trigger em {
  /* this is the menu central line */
  margin: 6px auto 14px;
  -webkit-transition: background-color .2s;
  transition: background-color .2s;
}
.cd-auto-hide-header .nav-trigger em::before, .cd-auto-hide-header .nav-trigger em::after {
  position: absolute;
  content: '';
  left: 0;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}
.cd-auto-hide-header .nav-trigger em::before {
  /* this is the menu icon top line */
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
}
.cd-auto-hide-header .nav-trigger em::after {
  /* this is the menu icon bottom line */
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}
@media only screen and (min-width: 1024px) {
  .cd-auto-hide-header .nav-trigger {
    display: none;
  }
}

.cd-auto-hide-header.nav-open .nav-trigger em {
  /* transform menu icon into a 'X' icon */
  background-color: rgba(255, 255, 255, 0);
}
.cd-auto-hide-header.nav-open .nav-trigger em::before {
  /* rotate top line */
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.cd-auto-hide-header.nav-open .nav-trigger em::after {
  /* rotate bottom line */
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.cd-primary-nav {
  display: inline-block;
  float: right;
  height: 100%;
  padding-right: 7%;
  padding-left: 7%;
}
.cd-primary-nav > ul {
  position: absolute;
  z-index: 2;
  top: 60px;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  display: none;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.2);
}
.cd-primary-nav > ul a {
  /* target primary-nav links */
  display: block;
  height: 50px;
  line-height: 50px;
  padding-left: 5%;
  color: #25283D;
  font-size: 1.8rem;
  border-top: 1px solid #f2f2f2;
}
.cd-primary-nav > ul a:hover, .cd-primary-nav > ul a.active {
  color: #8F3985;
}
@media only screen and (min-width: 1024px) {
  .cd-primary-nav {
    /* vertically align its content */
    display: table;
  }
  .cd-primary-nav > ul {
    /* vertically align inside parent element */
    display: table-cell;
    vertical-align: middle;
    /* reset mobile style */
    position: relative;
    width: auto;
    top: 0;
    padding: 0;
    background-color: transparent;
    box-shadow: none;
  }
  .cd-primary-nav > ul::after {
    clear: both;
    content: "";
    display: block;
  }
  .cd-primary-nav > ul li {
    display: inline-block;
    float: left;
    margin-right: 1.5em;
  }
  .cd-primary-nav > ul li:last-of-type {
    margin-right: 0;
  }
  .cd-primary-nav > ul a {
    /* reset mobile style */
    height: auto;
    line-height: normal;
    padding: 0;
    border: none;
  }
}

.nav-open .cd-primary-nav ul,
.cd-primary-nav ul:target {
  /* 
  	show primary nav - mobile only 
  	:target is used to show navigation on no-js devices
  */
  display: block;
}
@media only screen and (min-width: 1024px) {
  .nav-open .cd-primary-nav ul,
  .cd-primary-nav ul:target {
    display: table-cell;
  }
}

/* -------------------------------- 

2. Auto-Hiding Navigation - with Sub Nav

-------------------------------- */
.cd-secondary-nav {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  height: 50px;
  background-color: #25283D;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
  padding: 10px !important;
}
.cd-secondary-nav::after {
  /* gradient on the right - to indicate it's possible to scroll */
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  height: 100%;
  width: 35px;
  background: transparent;
  pointer-events: none;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}
.cd-secondary-nav.nav-end::after {
  opacity: 0;
}
.cd-secondary-nav ul, .cd-secondary-nav li, .cd-secondary-nav a {
  height: 100%;
}
.cd-secondary-nav ul {
  /* enables a flex context for all its direct children */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  /* padding: 0;
  overflow-x: auto; */
  -webkit-overflow-scrolling: touch;
}
.cd-secondary-nav ul::after {
  clear: both;
  content: "";
  display: block;
}
.cd-secondary-nav li {
  display: inline-block;
  float: left;
  /* do not shrink - elements float on the right of the element */
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}
.cd-secondary-nav li:last-of-type {
  padding-right: 0px;
}
.cd-secondary-nav a {
  display: block;
  color: #ffffff;
  line-height: 50px;
  padding: 0 1em;
  font-size: 16px;
}
.cd-secondary-nav a:hover, .cd-secondary-nav a.active {
  opacity: 1;
}
@media only screen and (min-width: 1024px) {
  .cd-secondary-nav {
    height: 77px;
    overflow: visible;
  }
  .cd-secondary-nav ul {
    /* reset mobile style */
    display: block;
    text-align: center;
	    float: right;
  }
  .cd-secondary-nav li {
    /* reset mobile style */
    float: none;
    -webkit-flex-shrink: 1;
        -ms-flex-negative: 1;
            flex-shrink: 1;
  }
  .cd-secondary-nav a {
    line-height: 70px;
  }
  .cd-secondary-nav a.active {
    box-shadow: inset 0 -3px #8F3985;
  }
}
@media (max-width: 767px) {
.cd-secondary-nav ul {
	display: grid;
	background: #000;
	    xoverflow: hidden;
  }
  .navbar-nav {
    margin: 0 -15px;
}
.navbar-toggle {
    margin-top: 6px;
    margin-bottom: 0px;
}
}


/* -------------------------------- 

Intro Section

-------------------------------- */
.cd-hero {
  /* vertically align its content */
  display: table;
  width: 100%;
  margin-top: 60px;
  height: 300px;
  background: url(../img/cd-hero-background.jpg) no-repeat center center;
  background-size: cover;
}
.cd-hero .cd-hero-content {
  /* vertically align inside parent element */
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .cd-hero {
    height: 400px;
  }
}
@media only screen and (min-width: 1024px) {
  .cd-hero {
    height: 600px;
    margin-top: 80px;
  }
}


/* Custom Button Styles */

.btn-dark {
    border-radius: 0;
    color: #fff;
    background-color: rgba(0,0,0,0.4);
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    color: #fff;
    background-color: rgba(0,0,0,0.7);
}

.btn-light {
    border-radius: 0;
    color: #333;
    background-color: rgb(255,255,255);
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    color: #333;
    background-color: rgba(255,255,255,0.8);
}

.clients {
    display: inline-block;
}

/* Custom Horizontal Rule */
hr.small {
    max-width: 100px;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    border: 0px;
    height: 5px;
	margin-top: 0px;
    margin-bottom: 30px;
}

.fa {
    display: initial !important;
	}
.fa-2x {
    font-size: 25px;
}
	
/*--------------------------------------------------------------
Fixed Top Menu
--------------------------------------------------------------*/
.navbar-brand img {
    margin-top: 8px;
}
.navbar-brand {
    height: auto;
	padding: 5px 15px;
}
 .navbar-custom {
  margin-bottom: 0;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  outline: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.wrapper {
    width: 100%;
    overflow: hidden;
}
}
.navbar-header {
    width: 100%;
}
/*--------------------------------------------------------------
Sidebar Menu
--------------------------------------------------------------*/
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 250px;
    height: 100%;
    transform: translateX(250px);
    overflow-y: auto;
    background: #222;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: auto;
    font-size: 18px;
    line-height: 55px;
}

.sidebar-nav > .sidebar-brand a {
    color: #999;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}

#menu-toggle {
    z-index: 10;
    position: fixed;
    top: 0;
}

#sidebar-wrapper.active {
    right: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.sidebar-brand img {
    width: 65%;
    height: auto;
    margin-top: 5%;
}

.toggle {
    margin: 5px 5px 0 0;
}


/*--------------------------------------------------------------
Header
--------------------------------------------------------------*/
.header {
	display: table;
    position: relative;
    width: 100%;
    height: 100%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#home {
    padding: 0;
}

/*--------------------------------------------------------------
About
--------------------------------------------------------------*/
.about {
    padding: 50px 0;
}

.parallax-window {
    background: transparent;
}

.inner {
    padding-top: 14%;
}

#page_title h1 {
    color: #fff;
}

#breadcrumbs {
    background-color: #66A2BF;
}

#breadcrumbs p {
    padding: 3% 0 2%;
    color: #fff;
}

/*--------------------------------------------------------------
Partners
--------------------------------------------------------------*/
#partners {
    padding: 0;
}
#partnerspage {
    padding: 40px 0;
}

/*--------------------------------------------------------------
Subscriber area
--------------------------------------------------------------*/
.input-group .form-control:not(:last-child), .input-group-addon:not(:last-child), .input-group-btn:not(:first-child)>.btn-group:not(:last-child)>.btn, .input-group-btn:not(:first-child)>.btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:not(:last-child)>.btn, .input-group-btn:not(:last-child)>.btn-group>.btn, .input-group-btn:not(:last-child)>.dropdown-toggle {
    border-radius: 10px 10px 0 0;
}
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:first-child>.btn-group:not(:first-child)>.btn, .input-group-btn:first-child>.btn:not(:first-child), .input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group>.btn, .input-group-btn:last-child>.dropdown-toggle {
    border-radius: 0 0 10px 10px;
}
.form-control {
    display: block;
    width: 100% !important;
    height: 45px;
    padding: 6px 12px;
    font-size: 17px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
/*--------------------------------------------------------------
Team
--------------------------------------------------------------*/
#team {
    padding: 40px 0;
}

figure {
    margin: 0;
}
/*--------------------------------------------------------------
Event calendar
--------------------------------------------------------------*/
#calendar {
    padding: 40px 0;
}

/*--------------------------------------------------------------
Error Page
--------------------------------------------------------------*/
#error h2 {
    position: absolute;
    margin: 21% 10%;
    text-shadow: 2px 2px #ffffff;
}
#error h3 {
    position: absolute;
    margin: 25% 10%;
}

#error img {
    background-size: contain;
    width: -webkit-fill-available;
	width: -moz-available;
}

/*--------------------------------------------------------------
Services
--------------------------------------------------------------*/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .4s ease;
  backface-visibility: hidden;
}

.middle {
    position: absolute;
    top: 40%;
    opacity: 0.0;
    -webkit-transition: all 0.6s ease-out 0s;
    -o-transition: all 0.6s ease-out 0s;
    transition: all 0.6s ease-out 0s;
    text-align: center;
    left: 60%;
}

.service-item:hover .image {
  opacity: 0.3;
}

.service-item:hover .middle {
  opacity: 1;
}
.text_s {
  color: white;
  font-size: 16px;
  padding: 5px 10px;
}

.services {
    padding: 40px 0;
}

.service-item {
    margin-bottom: 30px;
}

.portfolio-section {
    padding-bottom:40px;
}


/* category filter */

.filter-container {
    text-align:center;
}


ul.filter > li > a {
    color:#1abc9c;
    font-size:20px;
    line-height:40px
}

ul.filter > li > a:hover,ul.filter > li > a:focus {
    text-decoration:none;
    color:#16a085;
    outline:none
}

ul.filter > li.active a {
    color:#111
}

ul.filter > li span {
    color:#ddd;
    font-size:20px;
    display:inline-block;
    margin:0 5px
}

.filter-section .filter-container .filter > li {
    padding:0;
    margin:0
}

.filter-section h1 {
    text-align:center
}


/* the color of the transparent overlay border */

.portfolio-section.port-col figure .overlay-background {
    background-color:#000;
    background: linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
}


/* portfolio images */

.description a {
    color: #fff;
}

.portfolio-section figure {
    float:left;
    width:100%;
    position:relative
}

.portfolio-section figure img {
    width:100%;
    height:auto
}


/* project title under image */

.portfolio-section .article-title {
    text-align:center;
    float:left;
    width:100%;
    font-size:18px;
    line-height:24px;
    padding:10px 0 30px 0;
}

.portfolio-section .article-title a {
    color:#aaa
}


/* transparent overlay */

.portfolio-section figure:hover .overlay {
    opacity:1;
    visibility:visible
}

.portfolio-section figure:hover .overlay-background {
    opacity:.8;
    visibility:visible
}

.portfolio-section figure .overlay-background {
    z-index:1;
    -webkit-transition:all .2s ease-in-out;
    -moz-transition:all .2s ease-in-out;
    -o-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .overlay-background .inner {
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    top:0;
    margin:0;
    background-color:#c8e9c8;
    background-color:rgba(194,231,194,0.9)
}

.portfolio-section figure .overlay {
    z-index:2;
    transition:all .2s ease-in-out;
    position:absolute;
    top:0;
    left:0;
    opacity:0;
    visibility:hidden;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay {
    display:table;
    width:100%;
    height:100%
}

.portfolio-section figure .inner-overlay-content {
    display:table-cell;
    vertical-align:middle;
    width:100%;
    padding:20px 40px
}

.portfolio-section figure .inner-overlay-content.with-icons {
    text-align:center
}


/* icons inside overlay */

.portfolio-section figure .inner-overlay-content.with-icons a {
    width:40px;
    height:40px;
    line-height:42px;
    display:inline-block;
    margin:0 10px;
    text-decoration:none;
    font-size:20px;
	background:rgba(0,0,0,0.9);
    color:#fff;
    border-radius:0;
}


/* skew image on hover */ 

.isotopeSelector img {
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease
}

.isotopeSelector:hover img {
    -moz-transform:scale(1.5) rotate(2deg);
    -webkit-transform:scale(1.5) rotate(2deg);
    -o-transform:scale(1.5) rotate(2deg);
    -ms-transform:scale(1.5) rotate(2deg);
    transform:scale(1.5) rotate(2deg);
    -webkit-transition:all .8s ease;
    -moz-transition:all .8s ease;
    -ms-transition:all .8s ease;
    -o-transition:all .8s ease;
    transition:all .8s ease
}

.isotopeSelector figure {
    overflow:hidden
}

.isotopeSelector figure {
    box-shadow:0 0 2px rgba(0,0,0,0.2)
}


/***********/

.grid {
	position: relative;
	margin: 0 auto;
}

.js .grid::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	pointer-events: none;
	background: #252323 url(../img/loading.svg) no-repeat 50% 75px;
	background-size: 60px auto;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.js .grid--loaded::after {
	opacity: 0;
}

.grid__item {
	width: 270px;
	padding: 10px;
}

.grid__item--current {
	opacity: 0 !important;
}

.img-wrap {
	display: block;
}

.img-wrap:focus,
.img-wrap:hover {
	outline: none;
}

.img-wrap img {
	display: block;
	max-width: 100%;
}

.preview {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-line-pack: center;
	-webkit-align-content: center;
	align-content: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	width: 50%;
	height: 100%;
	pointer-events: none;
}

.preview::before {
	content: '';
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: #1f1d1d;
	-webkit-transition: opacity 0.6s;
	transition: opacity 0.6s;
}

.preview--open {
	pointer-events: auto;
}

.preview--open::before {
	opacity: 1;
}

.clone {
	position: fixed;
	z-index: 110;
	-webkit-transition: -webkit-transform 0.5s;
	transition: transform 0.5s;
	-webkit-backface-visibility: hidden;
}

.original {
	position: relative;
	z-index: 120;
	display: block;
	object-fit: contain;
	-webkit-transition: opacity 0.2s;
	transition: opacity 0.2s;
	-webkit-backface-visibility: hidden;
}

.preview--open .animate {
	/* open */
	-webkit-transition: -webkit-transform 0.6s, opacity 0.2s;
	transition: transform 0.6s, opacity 0.2s;
}

.animate {
	/* close */
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.description {
	color: #fff;
}

.js .description--grid {
	display: none;
}

.description--preview {
	font-size: 2em;
	position: absolute;
	z-index: 140;
	width: 100%;
	left: 100%;
	top: 0;
	height: 100%;
	padding: 0 1em;
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-direction: column;
	-webkit-flex-direction: column;
	flex-direction: column;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-ms-flex-align: start;
	-webkit-align-items: flex-start;
	align-items: flex-start;
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 1s;
	transition: opacity 1s, transform 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 30px, 0);
	transform: translate3d(0, 30px, 0);
}

.preview--open .description--preview {
	opacity: 1;
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.description--preview h3 {
	font-weight: normal;
	margin: 0;
}

.description--preview p {
	font-size: 0.65em;
	max-width: 100%;
}

.description--preview p em {
	color: #5D5D5D;
	display: block;
	padding: 0.4em 0 0 0;
}


/* Details */

.details {
	max-width: 100%;
	/* IE 10-11 bug flexbox */
}

.details ul {
	line-height: 1;
	position: relative;
	margin: 0;
	padding: 0;
	list-style: none;
}

.details ul li {
	font-size: 0.5em;
	position: relative;
	display: inline-block;
	margin: 0 1em 0 0;
	padding: 0.15em 0;
	white-space: nowrap;
	opacity: 0;
	color: #9d9d9d;
	-webkit-transition: -webkit-transform 1s, opacity 1s;
	transition: transform 1s, opacity 1s;
	-webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	-webkit-transform: translate3d(0, 20px, 0);
	transform: translate3d(0, 20px, 0);
}

.preview--open .details ul li {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.preview--open .details ul li:nth-child(1) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.preview--open .details ul li:nth-child(2) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.preview--open .details ul li:nth-child(3) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.preview--open .details ul li:nth-child(4) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.preview--open .details ul li:nth-child(5) {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.details ul li:first-child {
	font-weight: bold;
	color: #909090;
}

.icon {
	font-family: 'camera-icons';
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	display: inline-block;
	vertical-align: middle;
	text-transform: none;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	speak: none;
}

.icon + span {
	margin-left: 5px;
	vertical-align: middle;
}

.icon-focal_length:before {
	content: '\e600';
}

.icon-exposure_time:before {
	content: '\e601';
}

.icon-iso:before {
	content: '\e602';
}

.icon-camera:before {
	content: '\e603';
}

.icon-aperture:before {
	content: '\e604';
}

.details .icon {
	margin-right: 5px;
	color: #77d45b;
}


/* Close button */

.action {
	font-size: 1.5em;
	margin: 0;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	color: #6bd68a;
	border: none;
	background: none;
}

.action:hover,
.action:focus {
	color: #6bd68a;
	outline: none;
}

.action--close {
	position: fixed;
	color:#fff;
	z-index: 150;
	top: 0;
	right: 0;
	padding: 1em;
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	-webkit-transform: scale3d(0.6, 0.6, 1);
	transform: scale3d(0.6, 0.6, 1);
}

.preview--image-loaded .action--close {
	opacity: 1;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}

.text-hidden {
	position: absolute;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;
	color: transparent;
}

@media screen and (max-width: 40em) {
	.description--preview h3 {
		font-size: 0.5em;
	}
	.description--preview p,
	.details {
		display: block;
	}
	
}


/*--------------------------------------------------------------
Callout
--------------------------------------------------------------*/
.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/*--------------------------------------------------------------
Portfolio
--------------------------------------------------------------*/
#portfolio {
    padding: 40px 0 0 0;
}
.portfolio {
    padding: 40px 0 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 20px 0;
}

/*--------------------------------------------------------------
Google Map
--------------------------------------------------------------*/
 #map {
	position: relative;
	height: 400px;
}
.map span{
	pointer-events: none;
}

@media(max-width:768px) {
    #map {
        height: 75%;
		
    }
}

/*--------------------------------------------------------------
Footer
--------------------------------------------------------------*/
#the-end p {
    padding: 20px 0;
	margin: 0;
}
.footer-bs {
    background-color: #3c3d41;
	padding: 40px;
	color: rgba(255,255,255,1.00);
}
.footer-brand h3 {
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:3px 0px;}
.footer-bs .footer-nav ul.pages a { text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h3 {
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { }
.footer-bs .footer-nav ul.list a:before {
	font-family: FontAwesome;
    content: "\f105";
	margin-right: 5px;
}

.footer-bs .footer-nav ul.pages a:before {
    font-family: FontAwesome;
    content: "\f00c";
    margin-right: 5px;
}

.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h3 {
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a {}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h3 {
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}
footer {
    padding: 10px 0;
    color: #fff;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 14px;
  right: 15px;
  z-index: 5;
}
.progress {
    background-color: rgba(255,255,255,.3);
}

/* If you want the label inside the progress bar */
#label {
    text-align: center; /* If you want to center it */
    line-height: 30px; /* Set the line-height to the same as the height of the progress bar container, to center it vertically */
    color: white;
}
/*--------------------------------------------------------------
Skills Progress Bar
--------------------------------------------------------------*/
  .meter {
    height: 15px;
    position: relative;
    background: #555;
    border-radius: 0px;
    margin: 40px 10px;
  }
  .meter > span {
    display: block;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .bg-red{
    background-color:#E81F4D;
  }
  .bg-purple{
    background-color:#971FE8;
  }
  .bg-blue{
    background-color:#1F8CE8;
  }
  .bg-green{
    background-color:#1AB356;
  }
  .bg-yellow{
    background-color:#EDE20E;
  }
  .bg-orange{
    background-color:#FC7402;
  }
  @-webkit-keyframes move {
    0% {
     background-position: 0 0;
   }
   100% {
     background-position: 50px 50px;
   }
 }
#skills {
    vertical-align: middle;
}
/*--------------------------------------------------------------
CountDown
--------------------------------------------------------------*/
#defaultCountdown{
	z-index:2;
	margin:0 auto;
	display:table;
	position:relative;
}

.countdown-row {
	margin:0 auto;
	width:100%;
	display:table;
	text-align:center;
	
}

.countdown-section {
	display: block;
	float: left;
	text-align: center;
	width:140px;
	height:140px;
	border-radius: 15% 15%;
	-webkit-border-radius: 15% 15%;
	-moz-border-radius: 15% 15%;
	border:solid 1px #fff;
	text-align:center;
	margin:40px 20px;
}

.countdown-amount {
    font-size: 60px;
	font-weight:700;
	line-height:120px;
}
.countdown-period {
    display: block;
	line-height:0px;
	color:#03a3e4;
	font-size:18px;
	font-weight:100;
}

/*--------------------------------------------------------------
Carousel
--------------------------------------------------------------*/
.carousel .item {
   -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    width: 100%; height: 700px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}
.carousel .one {
    background: url(http://placehold.it/1920X800) no-repeat center center fixed;

}
.carousel .two {
    background: url(http://placehold.it/1920X800) no-repeat center center fixed;

}
.carousel .three {
    background: url(http://placehold.it/1920X800) no-repeat center center fixed;

}

.carousel .active {
opacity: 1 !important;
}

.carousel .active.left {
    left:0;
    opacity:0;
    z-index:2;
}

/*--------------------------------------------------------------
Contact form
--------------------------------------------------------------*/
#contact-form label {
    color: #717171;
}
.contact {
    padding: 40px 0;
}
.btn-send {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
}

.input {
	position: relative;
	z-index: 1;
	display: inline-block;
	margin: 1em;
	width: calc(100% - 2em);
	vertical-align: top;
}

.input__field {
	position: relative;
	display: block;
	float: right;
	padding: 0.8em;
	width: 60%;
	border: none;
	border-radius: 0;
	background: #f0f0f0;
	color: #aaa;
	font-weight: bold;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	display: inline-block;
	float: right;
	padding: 0 1em;
	width: 40%;
	color: #6a7989;
	font-weight: bold;
	font-size: 70.25%;
	-webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	position: relative;
	display: block;
	padding: 1.6em 0;
	width: 100%;
}

.graphic {
	position: absolute;
	top: 0;
	left: 0;
	fill: none;
}

.icon {
	color: #ddd;
	font-size: 150%;
}

/* Individual styles */

/* Hoshi */
.input--hoshi {
	overflow: hidden;
}

.input__field--hoshi {
	margin-top: 1em;
	padding: 0.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
	font-size: 16px;
	font-weight: inherit;
}

textarea.input__field--hoshi {
	padding: 1.85em 0.15em;
	width: 100%;
	background: transparent;
	color: #595F6E;
}

.input__label--hoshi {
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 0 0.25em;
	width: 100%;
	height: calc(100% - -1em);
	text-align: left;
	pointer-events: none;
	font-size: 16px;
}

.input__label-content--hoshi {
	position: absolute;
}

.input__label--hoshi::before,
.input__label--hoshi::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: calc(100% - 10px);
	border-bottom: 1px solid #B9C1CA;
}

.input__label--hoshi::after {
	margin-top: 2px;
	border-bottom: 4px solid red;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--hoshi-color-1::after {
	border-color: hsl(200, 100%, 50%);
}

.input__label--hoshi-color-2::after {
	border-color: hsl(160, 100%, 50%);
}

.input__label--hoshi-color-3::after {
	border-color: hsl(20, 100%, 50%);
}

.input__field--hoshi:focus + .input__label--hoshi::after,
.input--filled .input__label--hoshi::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.input__field--hoshi:focus + .input__label--hoshi .input__label-content--hoshi,
.input--filled .input__label-content--hoshi {
	-webkit-animation: anim-1 0.3s forwards;
	animation: anim-1 0.3s forwards;
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

/*
============================================================
					Preloader
============================================================
*/

#loading{
	background-color: #fff;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 99999;
	margin-top: 0px;
	top: 0px;
}
#loading-center{
	width: 100%;
	height: 100%;
	position: relative;
	}
#loading-center-absolute {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 60px;
	width: 60px;
	margin-top: -30px;
	margin-left: -30px;
    -webkit-animation: loading-center-absolute 1s infinite;
	animation: loading-center-absolute 1s infinite;

}
.object{
	width: 20px;
	height: 20px;
	background-color: #66A2BF;
	float: left;
	margin-right: 20px;
	margin-bottom: 20px;	
}
.object:nth-child(2n+0) {
	margin-right: 0px;

}
#object_one{
	-webkit-animation: object_one 1s infinite;
	animation: object_one 1s infinite;
	}
#object_two{
	-webkit-animation: object_two 1s infinite;
	animation: object_two 1s infinite;
	}	
#object_three{
	-webkit-animation: object_three 1s infinite;
	animation: object_three 1s infinite;
	}		
#object_four{
	-webkit-animation: object_four 1s infinite;
	animation: object_four 1s infinite;
	}		
	
@-webkit-keyframes loading-center-absolute{
100% {
    -ms-transform: rotate(360deg); 
   	-webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
	}			
	
}		
@keyframes loading-center-absolute{
100% {
    -ms-transform: rotate(360deg); 
   	-webkit-transform: rotate(360deg); 
    transform: rotate(360deg); 
	}
}	

								

@-webkit-keyframes object_one{
50% {
    -ms-transform: translate(20px,20px); 
   	-webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
	}
}		
@keyframes object_one{
50% {
     -ms-transform: translate(20px,20px); 
   	-webkit-transform: translate(20px,20px);
    transform: translate(20px,20px);
	}
}


@-webkit-keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
   	-webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
	}
}		
@keyframes object_two{
50% {
    -ms-transform: translate(-20px,20px); 
   	-webkit-transform: translate(-20px,20px);
    transform: translate(-20px,20px);
	}
}



@-webkit-keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
   	-webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
	}
}		
@keyframes object_three{
50% {
    -ms-transform: translate(20px,-20px); 
   	-webkit-transform: translate(20px,-20px);
    transform: translate(20px,-20px);
	}
}



@-webkit-keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
   	-webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
	}
}		
@keyframes object_four{
50% {
    -ms-transform: translate(-20px,-20px); 
   	-webkit-transform: translate(-20px,-20px);
    transform: translate(-20px,-20px);
	}
}
	
.loaded .ytplayer-container {
  display: block;
}

.loaded .placeholder-image {
  opacity: 0;
}

.ytplayer-container {
  bottom: 0;
  height: 100%;
  left: 0;
  min-width: 100%;
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 3;
}

.placeholder-image {
  height: 100%;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: 1;
}

.ytplayer-shield {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

.ytplayer-player {
  position: absolute;
}


/*chasing dots*/
#loading {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 99999;
    margin-top: 0px;
    top: 0%;
}
#loading-center-1{
	width: 100%;
	height: 100%;
	position: relative;
	top: 40%;
	}
.sk-chasing-dots {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  -webkit-animation: sk-chasingDotsRotate 2s infinite linear;
          animation: sk-chasingDotsRotate 2s infinite linear; }
  .sk-chasing-dots .sk-child {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-chasingDotsBounce 2s infinite ease-in-out;
            animation: sk-chasingDotsBounce 2s infinite ease-in-out; }
  .sk-chasing-dots .sk-dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }

@-webkit-keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes sk-chasingDotsRotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@-webkit-keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-chasingDotsBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

			
/*Rotating Plane*/
.sk-rotating-plane {
  width: 40px;
  height: 40px;
  background-color: #333;
  margin: 40px auto;
  -webkit-animation: sk-rotatePlane 1.2s infinite ease-in-out;
          animation: sk-rotatePlane 1.2s infinite ease-in-out; }

@-webkit-keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }

@keyframes sk-rotatePlane {
  0% {
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
            transform: perspective(120px) rotateX(0deg) rotateY(0deg); }
  50% {
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
            transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg); }
  100% {
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
            transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg); } }
			

/*Double Bounce*/			
.sk-double-bounce {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 40px auto; }
  .sk-double-bounce .sk-child {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #333;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-doubleBounce 2s infinite ease-in-out;
            animation: sk-doubleBounce 2s infinite ease-in-out; }
  .sk-double-bounce .sk-double-bounce2 {
    -webkit-animation-delay: -1.0s;
            animation-delay: -1.0s; }

@-webkit-keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-doubleBounce {
  0%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1); } }


/*Wave*/			
.sk-wave {
  margin: 40px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px; }
  .sk-wave .sk-rect {
    background-color: #333;
    height: 100%;
    width: 6px;
    display: inline-block;
    -webkit-animation: sk-waveStretchDelay 1.2s infinite ease-in-out;
            animation: sk-waveStretchDelay 1.2s infinite ease-in-out; }
  .sk-wave .sk-rect1 {
    -webkit-animation-delay: -1.2s;
            animation-delay: -1.2s; }
  .sk-wave .sk-rect2 {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-wave .sk-rect3 {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-wave .sk-rect4 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-wave .sk-rect5 {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }

@-webkit-keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }

@keyframes sk-waveStretchDelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
            transform: scaleY(0.4); }
  20% {
    -webkit-transform: scaleY(1);
            transform: scaleY(1); } }
	
	
/*Wandering cubes*/
.sk-wandering-cubes {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative; }
  .sk-wandering-cubes .sk-cube {
    background-color: #333;
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both;
            animation: sk-wanderingCube 1.8s ease-in-out -1.8s infinite both; }
  .sk-wandering-cubes .sk-cube2 {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }

@-webkit-keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
            transform: translateX(30px) rotate(-90deg) scale(0.5); }
  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
            transform: translateX(30px) translateY(30px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
            transform: translateX(30px) translateY(30px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
            transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

@keyframes sk-wanderingCube {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  25% {
    -webkit-transform: translateX(30px) rotate(-90deg) scale(0.5);
            transform: translateX(30px) rotate(-90deg) scale(0.5); }
  50% {
    /* Hack to make FF rotate in the right direction */
    -webkit-transform: translateX(30px) translateY(30px) rotate(-179deg);
            transform: translateX(30px) translateY(30px) rotate(-179deg); }
  50.1% {
    -webkit-transform: translateX(30px) translateY(30px) rotate(-180deg);
            transform: translateX(30px) translateY(30px) rotate(-180deg); }
  75% {
    -webkit-transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5);
            transform: translateX(0) translateY(30px) rotate(-270deg) scale(0.5); }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg); } }

			
/*Pulse*/
.sk-spinner-pulse {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

	
/*Three Bounce*/
.sk-three-bounce {
  margin: 40px auto;
  width: 80px;
  text-align: center; }
  .sk-three-bounce .sk-child {
    width: 20px;
    height: 20px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
            animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }
  .sk-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s; }
  .sk-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s; }

@-webkit-keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-three-bounce {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

			
/*Circle*/
.sk-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative; }
  .sk-circle .sk-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .sk-circle .sk-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
            animation: sk-circleBounceDelay 1.2s infinite ease-in-out both; }
  .sk-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

			
/*Cube Grid*/
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 40px auto;
  /*
   * Spinner positions
   * 1 2 3
   * 4 5 6
   * 7 8 9
   */ }
  .sk-cube-grid .sk-cube {
    width: 33.33%;
    height: 33.33%;
    background-color: #333;
    float: left;
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }
  .sk-cube-grid .sk-cube1 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube2 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube3 {
    -webkit-animation-delay: 0.4s;
            animation-delay: 0.4s; }
  .sk-cube-grid .sk-cube4 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube5 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }
  .sk-cube-grid .sk-cube6 {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-cube-grid .sk-cube7 {
    -webkit-animation-delay: 0.0s;
            animation-delay: 0.0s; }
  .sk-cube-grid .sk-cube8 {
    -webkit-animation-delay: 0.1s;
            animation-delay: 0.1s; }
  .sk-cube-grid .sk-cube9 {
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); } }

			
/*Fading Circle*/
.sk-fading-circle {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative; }
  .sk-fading-circle .sk-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; }
  .sk-fading-circle .sk-circle:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
            animation: sk-circleFadeDelay 1.2s infinite ease-in-out both; }
  .sk-fading-circle .sk-circle2 {
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .sk-fading-circle .sk-circle3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .sk-fading-circle .sk-circle4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .sk-fading-circle .sk-circle5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .sk-fading-circle .sk-circle6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .sk-fading-circle .sk-circle7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .sk-fading-circle .sk-circle8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .sk-fading-circle .sk-circle9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .sk-fading-circle .sk-circle10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .sk-fading-circle .sk-circle11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .sk-fading-circle .sk-circle12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .sk-fading-circle .sk-circle2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .sk-fading-circle .sk-circle3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .sk-fading-circle .sk-circle4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .sk-fading-circle .sk-circle5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .sk-fading-circle .sk-circle6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .sk-fading-circle .sk-circle7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .sk-fading-circle .sk-circle8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .sk-fading-circle .sk-circle9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .sk-fading-circle .sk-circle10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .sk-fading-circle .sk-circle11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .sk-fading-circle .sk-circle12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0; }
  40% {
    opacity: 1; } }

	
/*Folding Cube*/
.sk-folding-cube {
  margin: 40px auto;
  width: 40px;
  height: 40px;
  position: relative;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg); }
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #333;
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%; }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg); }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg); }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg); }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s; }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s; }

@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }


/*--------------------------------------------------------------
Team
--------------------------------------------------------------*/

.team .fa:hover {
    opacity: 0.8;
}
/* Common style */
.team figure {
    position: relative;
    overflow: hidden;
    cursor: pointer;
	padding: 4% 0;
	height: 245px;
}

.team figure img {
	position: relative;
	display: block;
	min-height: 100%;
	height: 270px;
}

.team figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.team figure figcaption::before,
.team figure figcaption::after {
	pointer-events: none;
}

.team figure figcaption,
.team figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.team figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.team figure h2 {
    font-size: 20px;
    letter-spacing: -1px;
}

.team figure h2 span {
	font-weight: 800;
}

.team figure h2,
.team figure p {
	margin: 0;
}

.team figure p {
	letter-spacing: 3px;
    font-size: 60%;
}
figure.effect-zoe figcaption {
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3.75em;
	background: #fff;
	color: #3c4a50;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

figure.effect-zoe h2 {
	float: left;
}

figure.effect-zoe p.icon-links a {
	float: right;
	color: #3c4a50;
	font-size: 1.4em;
}

figure.effect-zoe:hover p.icon-links a:hover,
figure.effect-zoe:hover p.icon-links a:focus {
	color: #252d31;
}

figure.effect-zoe p.description {
	position: absolute;
    bottom: 8em;
    padding: 1em;
    color: #fff;
    text-transform: none;
    font-size: 55%;
    opacity: 0;
    -webkit-transition: opacity 0.35s;
    transition: opacity 0.35s;
    -webkit-backface-visibility: hidden;
	font-weight: 800;
}

figure.effect-zoe h2,
figure.effect-zoe p.icon-links a {
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,200%,0);
	transform: translate3d(0,200%,0);
}

figure.effect-zoe p.icon-links a span::before {
	display: inline-block;
	padding: 8px 10px;
	font-family: 'feathericons';
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-eye::before {
	content: '\e000';
}

.icon-paper-clip::before {
	content: '\e001';
}

.icon-heart::before {
	content: '\e024';
}

figure.effect-zoe h2 {
	display: inline-block;
}

figure.effect-zoe:hover p.description {
	opacity: 1;
}

figure.effect-zoe:hover figcaption,
figure.effect-zoe:hover h2,
figure.effect-zoe:hover p.icon-links a {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-zoe:hover h2 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(3) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

figure.effect-zoe:hover p.icon-links a:nth-child(2) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

figure.effect-zoe:hover p.icon-links a:first-child {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

/*--------------------------------------------------------------
BLOG
--------------------------------------------------------------*/
.post {
    padding: 20px 0;
}
div#share-buttons {
    float: right !important;
}
#blog {
    padding: 20px 0 50px 0;
}
.blog {
    background-size: 100% auto;
	padding: 40px 0 0;
}
.blog h2 {
	text-align: center;
    font-weight: 300;
    margin-bottom: 15px;
    font-size: 50px;
    margin-top: 40px;
}
.blog h2 b {
	color: #2BBCDE;
}
.blog .post-bg {
	background: #f1f1f1;
    border-radius: 3px;
    overflow: hidden;
    height: 335px;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
}
.blog .post-bg:hover h3 {
	color: #2BBCDE;
/*    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, 0.08);*/
}
.blog .post-bg:hover .hover-post {
    height: 335px;
    width: 100%;
    color: #aaa;
    background-color: #2BBCDE;
    position: absolute;
    top: 0;
    opacity: 0.95;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;   
}
.blog .black {
	background: #2BBCDE;
}
.blog .post-bg .excerpt {
    padding: 0 10px;
}
.blog .post-bg .excerpt h3 {
    font-weight: 900;
    font-size: 15px;
    text-transform: uppercase;
	text-align: center;
}
.blog .post-bg .post-img  {
    overflow: hidden;
    max-height: 180px;
}
.hover-post {
    height: 335px;
    width: 0%;
    color: #aaa;
    background-color: #2BBCDE;
    position: absolute;
    top: 0;
    opacity: 0.0;
    -webkit-transition: all 0.4s ease-out 0s;
    -o-transition: all 0.4s ease-out 0s;
    transition: all 0.4s ease-out 0s;
    text-align: center;
    padding-top: 150px;
}
.hover-post span {
    text-align: center;
    max-height: 335px;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 3px;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
}

@media (max-width: 768px) {
    .blog h2 {
    text-align: center;
    font-weight: 300;
    margin-bottom: 30px;
    font-size: 34px;
    margin-top: 70px;
    }
    .blog .post-bg {
    background: #f1f1f1;
    border-radius: 3px;
    overflow: hidden;
    height: inherit;
    margin-bottom: 20px;
    display: block;
    color: inherit;
    text-decoration: none;
    position: relative;
    }
	.blog {
    padding: 0;
	}
	
}

#custom-page p {
    padding: 0 2%;
}
.custom {
    min-height: 300px;
}

#pagination {
    text-align: center;
	padding: 2%;
}
#pagination a {
    font-size: 20px;
	text-decoration: none;
}

/*--------------------------------------------------------------
Testimonials
--------------------------------------------------------------*/
.testimonials {
    padding: 0;
}
.shadow-effect {
	background: #fff;
	padding: 20px;
	border-radius: 4px;
	text-align: center;
	border:1px solid #ECECEC;
	box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
	font-family: inherit;
	font-size: 14px;
	line-height: 1.5;
	margin: 0 0 17px 0;
	font-weight: 300;
}
.testimonial-name {
	margin: -17px auto 0;
	display: table;
	width: auto;
	background: #3190E7;
	padding: 9px 35px;
	border-radius: 12px;
	text-align: center;
	color: #fff;
	box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
	text-align: center;
	padding: 10px;
	opacity: .2;
	-webkit-transform: scale3d(0.8, 0.8, 1);
	transform: scale3d(0.8, 0.8, 1);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	    cursor: -webkit-grab;
}
#customers-testimonials .owl-item.active.center .item {
	opacity: 1;
	-webkit-transform: scale3d(1.0, 1.0, 1);
	transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
	transform-style: preserve-3d;
	max-width: 90px;
	margin: 0 auto;
}
#customers-testimonials.owl-carousel.owl-theme .owl-dots .owl-dot.active span, #customers-testimonials.owl-carousel.owl-theme .owl-dots .owl-dot:hover span {
	background: #28CB75;
	transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel.owl-theme .owl-dots .owl-dot span {
	background: #C4C4CC;
	display: block;
	height: 20px;
	margin: 0 2px 5px;
	transform: translate3d(0px, -50%, 0px) scale(0.3);
	transform-origin: 50% 50% 0;
	transition: all 250ms ease-out 0s;
	width: 20px;
}
.service-item .img-circle {
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.img-thumbnail {
    border: 0px;
    background: none;
}

/*--------------------------------------------------------------
Partners
--------------------------------------------------------------*/
.brand-carousel {
    padding: 0;
}
.brand-carousel .item{
padding: 15px;
}
.brand-carousel .item img{
max-width: 100%;
} 
.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.gridP {
	position: relative;
	clear: both;
	margin: 0 auto;
	list-style: none;
	text-align: center;
}

/* Common style */
.gridP figure {
    position: relative;
    float: left;
    overflow: hidden;
    margin: 10px 1%;
    width: 100%;
    height: auto;
    background: #f5f5f5;
    text-align: center;
    cursor: pointer;
}

.gridP figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.gridP figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.gridP figure figcaption::before,
.gridP figure figcaption::after {
	pointer-events: none;
}

.gridP figure figcaption,
.gridP figure figcaption > a {
	xposition: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.gridP figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.gridP figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.gridP figure h2 span {
	font-weight: 800;
}

.gridP figure h2,
.gridP figure p {
	margin: 0;
	    font-size: 20px;
}

.gridP figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-steve {
	z-index: auto;
	overflow: visible;
	xbackground: #000;
}

figure.effect-steve:before,
figure.effect-steve h2:before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	xbackground: #000;
	content: '';
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-steve:before {
	xbox-shadow: 0 3px 30px rgba(0,0,0,0.8);
	opacity: 0;
}

figure.effect-steve figcaption {
	z-index: 1;
}

figure.effect-steve img {
	opacity: 1;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: perspective(1000px) translate3d(0,0,0);
	transform: perspective(1000px) translate3d(0,0,0);
}

figure.effect-steve h2,
figure.effect-steve p {
	background: #fff;
	color: #2d434e;
}

figure.effect-steve h2 {
	position: relative;
	padding: 0.25em;
}

figure.effect-steve h2:before {
	box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

figure.effect-steve p {
	margin-top: 1em;
	padding: 0.5em;
	font-weight: 800;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale3d(0.9,0.9,1);
	transform: scale3d(0.9,0.9,1);
}

figure.effect-steve:hover:before {
	opacity: 1;
}

figure.effect-steve:hover img {
	-webkit-transform: perspective(1000px) translate3d(0,0,21px);
	transform: perspective(1000px) translate3d(0,0,21px);
}

figure.effect-steve:hover h2:before {
	opacity: 0;
}

figure.effect-steve:hover p {
	opacity: 1;
	-webkit-transform: scale3d(1,1,1);
	transform: scale3d(1,1,1);
}

/*--------------------------------------------------------------
Social Icons
--------------------------------------------------------------*/
.fa-facebook-square{
	color: #3B5998;
}
.fa-linkedin-square {
	color: #007bb5;
}
.fa-google-plus-square{
	color: #dd4b39;
}
.fa-twitter-square{
	color: #55ACEE;
}
.fa-youtube-square{
	color: #bb000;
}
.fa-instagram{
	color: #125688;
}
.fa-pinterest-square{
	color: #cb2027;
}
.fa-tumblr-square{
	color: #2c4762;
}
.fa-vine{
	color: #00b489;
}
.fa-snapchat-square{
	color: #fffc00;
}
.fa-reddit-square{
	color: #ff5700;
}
.fa-flickr{
	color: #f40083;
}
.fa-soundcloud{
	color: #ff5500;
}
.fa-whatsapp{
	color: #1EBEA5;
}
.fa-slack{
	color: #CD175C;
}
.fa-xing-square{
	color: #B0D400;
}

/*--------------------------------------------------------------
Pricing Tables
--------------------------------------------------------------*/
/* Zoom In #1 */
.block.hover01:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*------ utiltity classes -----*/
.fl{ float:left; }
.fr{ float: right; }
/*its also known as clearfix*/
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
    zoom: 1;  /*For IE 6/7 (trigger hasLayout) */
}

h2.title {
    margin: 0px;
    font-size: 22px;
    letter-spacing: -1px;
}
.pricing-table {
    width: 80%;
    margin: 2px auto;
    text-align: center;
    padding: 0.6%;
    padding-right: 0;
	transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.pricing-table:hover {
    transform: scale(1.1);
	    overflow: hidden;
}
.pricing-table .heading{
    color: #9C9E9F;
    text-transform: uppercase;
    font-size: 1.3rem;
    margin-bottom: 4rem;
}
.block{
    margin: 10px 0;
    overflow: hidden;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;    
    text-align: center;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
#pricing {
    padding: 40px 0;
}
/*Shared properties*/
.title{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 1.5;
    position: relative;
}
.pt-footer{
    color: #FEFEFE;
    text-transform: capitalize;
    line-height: 2.5;
    position: relative;
}
.pt-footer p{
    margin:0px;
}
.content{
    position: relative;
    padding: 20px 0 10px 0;
}
.content p {
    color: #fff;
}
/*arrow creation*/
.content:after, .content:before,.pt-footer:before,.pt-footer:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.pt-footer:after,.pt-footer:before{
    top:0;
}
.content:after,.pt-footer:after {
	border-color: rgba(136, 183, 213, 0);	
	border-width: 5px;
	margin-left: -5px;
}
/*/arrow creation*/
.price{
    position: relative;
    display: inline-block;
    margin-bottom: 0.625rem;
}
.price span{    
    font-size: 6rem;
    font-weight: bold;        
}
.price sup{
    font-size: 1.5rem;    
    position: absolute;    
    top: 12px;
    left: -12px;
}
.hint{
    font-style: italic;
    font-size: 1.3rem;
}
.features{
    list-style-type: none;
    background: #FFFFFF;
    text-align: left;
    color: #9C9C9C;
    padding: 15px 20%;
}
ul.features{
	margin-bottom: 0px;
}
.features li{
    padding:10px 0;
    width: 100%;
}
.features li span{
   padding-right: 0.4rem; 
}
.pt-footer{
    text-transform: capitalize;
}
.pt-footer a {
    color: #fff;
}

/*------------------------------------*\
    PRICING #74
\*------------------------------------*/
.pricing-74 .pricing-table {
	margin-top: -1px;
}

.pricing-74 .pricing-panel {
	min-height: 258px;
	border-radius: 27px;
	padding: 0;
	background-color: #ffffff;
	overflow: hidden;
}

.pricing-74 .pricing-panel-active {
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.27);
	z-index: 99;
}

.pricing-74 .pricing-panel .col-md-4 {
	padding-right: 0;
}

.pricing-74 .pricing-panel .col-md-7 {
	padding-right: 0;
	padding-left: 0;
	border-top: 1px solid #e5e4e4;
	border-bottom: 1px solid #e5e4e4;
}

.pricing-74 .pricing-panel .col-md-1 {
	padding-left: 0;
}

.pricing-74 .pricing-panel .pricing--heading {
    padding-left: 0px;
    background-color: #5d679d;
    margin-left: -50px;
}

.pricing-74 .pricing-panel-2 .pricing--heading {
	background-color: #fb6d9d;
}

.pricing-74 .pricing-panel-3 .pricing--heading {
	background-color: #4dd0e1;
}

.pricing-74 .pricing-panel-4 .pricing--heading {
	background-color: #81c784;
}

.pricing-74 .pricing-panel .pricing--heading h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    color: #ffffff;
    line-height: 261px;
    margin: 0;
}

.pricing-74 .pricing-panel .pricing--heading h4 span {
	font-size: 25px;
}

.pricing-74 .pricing-panel .pricing--heading .pricing--desc {
	font-size: 13px;
	background-color: #0e2bc4;
	color: #f1f1f1;
	width: 122px;
	height: 24px;
	line-height: 24px;
	padding: 0 7px;
	position: relative;
	z-index: 10;
}

.pricing-74 .pricing--body {
	position: relative;
}

.pricing-74 .pricing-panel .price {
    position: absolute;
    left: -60px;
    top: 70px;
    width: 130px;
    height: 130px;
    line-height: 1;
    border-radius: 50%;
    background-color: #303030;
    border: 5px solid #ffffff;
    text-align: center;
    padding-top: 35px;
}

.pricing-74 .pricing-panel .price p {
	font-family: 'Raleway', sans-serif;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: 0;
	color: #ffffff;
}

.pricing-74 .pricing-panel .price span.currency {
	font-size: 17px;
	font-weight: 400;
}

.pricing-74 .pricing-panel .price span.time {
	font-size: 12px;
	font-weight: 400;
	display: block;
	margin-top: 5px;
}

.pricing-74 .pricing--body .pricing--list {
	margin-bottom: 0;
	padding: 58px 0 57px 40px;
}

.pricing-74 .pricing--body .pricing--list li {
	width: 160px;
    display: inline-block;
    margin-right: 30px;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    line-height: 47px;
    border-top: 1px solid #cccccc;
    background-color: transparent;
}

.pricing-74 .pricing--body .pricing--list li:first-child,
.pricing-74 .pricing--body .pricing--list li:first-child + li {
	border-top: none;
}

.pricing-74 .pricing--body .pricing--list li span {
	font-weight: 700;
}

.pricing-74 .pricing--body .pricing--list li:last-of-type {
	border-bottom: none;
}

.pricing-74 .pricing--body .pricing--list li i {
	font-size: 18px;
	color: #5d679d;
	margin-right: 5px;
}

.pricing-74 .pricing-panel-2 .pricing--body .pricing--list li i {
	color: #fb6d9d;
}

.pricing-74 .pricing-panel-3 .pricing--body .pricing--list li i {
	color: #4dd0e1;
}

.pricing-74 .pricing-panel-4 .pricing--body .pricing--list li i {
	color: #81c784;
}

.pricing-74 .btn {
	width: 101%;
	height: 261px;
	line-height: 262px;
	background-color: #303030;
	border: none;
	color: #ffffff;
	font-size: 24px;
}

.pricing-74 .btn:hover {
	background-color: #5d679d;
	border-color: #5d679d;
}

.pricing-74 .pricing-panel-2 .btn:hover {
	background-color: #fb6d9d;
	border-color: #fb6d9d;
}

.pricing-74 .pricing-panel-3 .btn:hover {
	background-color: #4dd0e1;
	border-color: #4dd0e1;
}

.pricing-74 .pricing-panel-4 .btn:hover {
	background-color: #81c784;
	border-color: #81c784;
}

@media only screen and (max-width: 767px) {

.pricing-74 .pricing-panel {
	text-align: center !important;
}

.pricing-74 .pricing-panel .pricing--heading {
	padding-left: 0;
}

.pricing-74 .pricing-panel .col-md-7 {
	padding-right: 15px;
	padding-left: 15px;
}

.pricing-74 .pricing-panel .price {
	position: relative;
	left: auto;
	top: auto;
	margin: 10px auto;
}

.pricing-74 .pricing--body .pricing--list li {
	margin-right: 0;
}

.pricing-74 .pricing--body .pricing--list li:first-child,
 .pricing-74 .pricing--body .pricing--list li:first-child + li {
	border-top: 1px solid #cccccc;
}

.pricing-74 .pricing--body .pricing--list {
	padding: 20px;
}

.pricing-74 .pricing-panel .pricing--heading h4,
 .pricing-74 .btn {
	height: 70px;
	line-height: 70px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px) {

.pricing-74 .pricing-panel .col-md-7 {
	padding-right: 15px;
	padding-left: 15px;
	border-left: 1px solid #e5e4e4;
	border-right: 1px solid #e5e4e4;
}

.pricing-74 .pricing-panel {
	text-align: center !important;
}

.pricing-74 .pricing-panel .price {
	left: 10px;
	top: 20px;
}

.pricing-74 .pricing--body .pricing--list {
	padding: 33px 0 37px 150px;
	border-left: 1px solid #e5e4e4;
	border-right: 1px solid #e5e4e4;
}

.pricing-74 .pricing-panel .pricing--heading h4,
 .pricing-74 .btn {
	height: 70px;
	line-height: 70px;
}
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {

.pricing-74 .pricing--body .pricing--list {
	padding: 58px 0 60px 90px;
}

.pricing-74 .pricing--body .pricing--list li {
	margin-right: 40px;
}

.pricing-74 .pricing-panel .pricing--heading h4 {
	font-size: 24px;
}

.pricing-74 .pricing-panel .pricing--heading h4 span {
	font-size: 15px;
}
}

/*------------------------------------*\
    PRICING #75
\*------------------------------------*/
.pricing-75 .pricing-panel .col-md-7 {
	background-color: #222222;
}

.pricing-75 .pricing-panel .price {
	border-color: #222222;
}

.pricing-75 .pricing-panel .col-md-7 {
	border: none;
}

.pricing-75 .pricing--body .pricing--list li {
	color: #ffffff;
	border-bottom: 1px solid #cccccc;
}

.pricing-75 .btn {
	background-color: #303030;
}

/*--------------------------------------------------------------
Slick Slider
--------------------------------------------------------------*/
.img-fill{
  width: 100%;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center
}

.img-fill img {
  min-height: 100%;
  min-width: 100%;
  position: relative;
  display: inline-block;
  max-width: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.04);
}

.Grid1k {
  padding: 0 15px;
  max-width: 1200px;
  margin: auto;
}

.blocks-box,
.slick-slider {
  margin: 0;
  padding: 0!important;
}

.slick-slide {
  float: left /* If RTL Make This Right */ ;
  padding: 0;
}

/* ==== Slider Style === */
.Modern-Slider .item .img-fill{
  height:100vh;
  background:#000;
}

.Modern-Slider .item .img-fill .info{
  position:absolute;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  background:rgba(0,0,0,.50);
  line-height:100vh;
  text-align:center;
}

.Modern-Slider .item .img-fill img{
  -webkit-filter:blur(5px);
          filter:blur(5px);
}

.Modern-Slider .item .info > div{
  display:inline-block!important;
  vertical-align:middle;
}

.Modern-Slider .NextArrow{
  position:absolute;
  top:50%;
  right:0px;
  width:45px;
  height:45px;
  background:rgba(0,0,0,.50);
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:20px/45px FontAwesome;
  color:#FFF;
  z-index:1;
}

.Modern-Slider .NextArrow:before{content:'\f105';}

.Modern-Slider .PrevArrow{
  position:absolute;
  top:50%;
  left:0px;
  width:45px;
  height:45px;
  background:rgba(0,0,0,.50);
  border:0 none;
  margin-top:-22.5px;
  text-align:center;
  font:20px/45px FontAwesome;
  color:#FFF;
  z-index:1;
}

.Modern-Slider .PrevArrow:before{content:'\f104';}

.Modern-Slider .slick-dots{
  position:absolute;
  height:5px;
  background:rgba(255,255,255,.20);
  bottom:0px;
  width:100%;
  left:0px;
  padding:0px;
  margin:0px;
  list-style-type:none;
}
.Modern-Slider .slick-dots li button{display:none;}
.Modern-Slider .slick-dots li{
  float:left;
  width:0px;
  height:5px;
  background:#d62828;
  position:absolute;
  left:0px;
  bottom:0px;
}

.Modern-Slider .slick-dots li.slick-active{
  width:100%;
  -webkit-animation:ProgressDots 11s both;
          animation:ProgressDots 11s both;
}

.Modern-Slider .item h3{
  font:30px/50px RalewayB;
  text-transform:uppercase;
  color:#FFF;
  -webkit-animation:fadeOutRight 1s both;
          animation:fadeOutRight 1s both;
  margin:0;
  padding:0;
}

.Modern-Slider .item h5{
  margin:0;
  padding:0;
  font:15px/30px RalewayR;
  color:#FFF;
  max-width:600px;
  overflow:hidden;
  height:60px;
  -webkit-animation:fadeOutLeft 1s both;
          animation:fadeOutLeft 1s both;
}

.Modern-Slider .item.slick-active h3{
  -webkit-animation:fadeInDown 1s both 1s;
          animation:fadeInDown 1s both 1s;
}

.Modern-Slider .item.slick-active h5{
  -webkit-animation:fadeInLeft 1s both 1.5s;
          animation:fadeInLeft 1s both 1.5s;
}

.Modern-Slider .item.slick-active{
  -webkit-animation:Slick-FastSwipeIn 1s both;
          animation:Slick-FastSwipeIn 1s both;
}

.Modern-Slider {background:#000;}

/* ==== Slider Image Transition === */
@-webkit-keyframes Slick-FastSwipeIn{
    0%{
	transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform: scale(1.5);
    transform: scale(1.5);} 
    100%{
	transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform: scale(1);
    transform: scale(1);} 
}
@keyframes Slick-FastSwipeIn{
    0%{
	transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform: scale(1.5);
    transform: scale(1.5);} 
    100%{
	transition: all 1s cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform: scale(1);
    transform: scale(1);} 
}

@-webkit-keyframes ProgressDots{from{width:0px;}to{width:100%;}}
@keyframes ProgressDots{from{width:0px;}to{width:100%;}}

/* ==== Slick Slider Css Ruls === */
.slick-slider{position:relative;display:block;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}.slick-list.dragging{cursor:hand}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left /* If RTL Make This Right */ ;height:100%;min-height:1px}
.slick-slide.dragging img{pointer-events:none}
.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}

/*--------------------------------------------------------------
Responsive Media Queries
--------------------------------------------------------------*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
.parallax-window {
    background-color: rgba(0, 0, 0, 0.6) !important;
	background-attachment: fixed!important;
}
	#menu-toggle {
		right: 1.2%;
	}
}

/* Tablet Landscape */
@media only screen and (min-width: 958px) and (max-width: 1079px) {
figure.effect-zoe p.description {
    bottom: 7em;
    font-size: 50%;
}
.team figure h2 {
    font-size: 15px;
    letter-spacing: -1px;
}
.parallax {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
}
h2{
	margin: 20px 0;
}
.descriptions {
    padding: 20px 0;
}
.team figure img {
    height: 220px;
}
#team {
    padding: 20px 0;
}
.content {
    padding: 0;
}
#blog {
    padding: 0;
}
.blog h2 {
    margin-top: 20px;
}
.blog {
    padding: 0;
}
#page_title h1 {
    padding: 0 0 4%;
}
.inner {
    padding-top: 10%;
}
.parallax-window {
	min-height: auto;
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand img {
    margin-top: -6px;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 8px;
    font-size: 10px;
}
.navbar-nav {
    float: left;
    margin: 0;
    margin-top: 5px;
    padding-bottom: 0px;
}
#error h2 {
    position: absolute;
    margin: 34% 10%;
    text-shadow: 2px 2px #ffffff;
}
#error h3 {
    position: absolute;
    margin: 40% 10%;
}
.pricing-74 .pricing--body .pricing--list {
    margin-bottom: 0;
    padding: 58px 0 57px 40px;
}
.pricing-74 .pricing-panel .pricing--heading h4 {
    font-size: 16px;
}
.pricing-74 .pricing-panel .price {
    position: absolute;
    left: -60px;
    top: 83px;
    width: 100px;
    height: 100px;
    line-height: 1;
    border-radius: 50%;
    background-color: #303030;
    text-align: center;
    padding-top: 25px;
}
.pricing-74 .pricing-panel .price p {
    font-size: 40px;
}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
.hover-post {
    padding-top: 115px;
}
	.team figure img {
		width: 100%;
		 height: 400px;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: none;
    }
figure.effect-zoe p.description {
    bottom: 7em;
    font-size: 60%;
}
.parallax {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
}
.descriptions {
    padding: 20px 0;
}
#page_title h1 {
    padding: 0 0 4%;
}
.inner {
    padding-top: 10%;
}
.parallax-window {
	min-height: auto;
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand img {
    margin-top: 0px;
    width: 40%;
}
.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 8px;
    font-size: 10px;
}
.navbar-nav {
    float: left;
    margin: 0;
    margin-top: -40px;
    padding-bottom: 0px;
}
#error h2 {
    position: absolute;
    margin: 42% 10%;
    text-shadow: 2px 2px #ffffff;
}
#error h3 {
    position: absolute;
    margin: 60% 10%;
}
.cd-auto-hide-header {
    height: 40px;
}
.footer-bs {
    text-align: center;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: initial;
}
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
figure.effect-zoe p.description {
    font-size: 60%;
}
.parallax {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
}
.descriptions {
    padding: 20px 0 10px 0;
}
.team figure img {
    height: auto;
	    width: 100%;
}
.inner {
    padding-top: 12%;
    padding-bottom: 3%;
}
.parallax-window {
    min-height: 170px;
    background-color: rgba(0, 0, 0, 0.6) !important;

}
.text-vertical-center h1 {
    margin-top: 5%;
	font-size: 35px;
}
#defaultCountdown{
    margin-left: 9%;
}
.countdown-section {
	display: block;
	float: left;
	text-align: center;
	width:100px;
	height:100px;
	border-radius: 15% 15%;
	-webkit-border-radius: 15% 15%;
	-moz-border-radius: 15% 15%;
	border:solid 1px #fff;
	text-align:center;
	margin:10px 20px;
}
.post {
    padding: 10px 0;
}
.countdown-amount {
    font-size: 30px;
	font-weight:700;
	line-height:75px;
}
.countdown-period {
    display: block;
	line-height:0px;
	color:#03a3e4;
	font-size:18px;
	font-weight:100;
}
 #map {
	position: relative;
	height: 300px;
}
.about, .services, .testimonials, .contact {
    padding: 10px 0;
}
.navbar-brand {
    height: 10px;
    padding: 0px 15px;
}
.navbar-brand img {
    margin-top: 5px;
    width: 55%;
}
#error h2 {
    position: absolute;
    margin: 42% 10%;
    text-shadow: 2px 2px #ffffff;
    font-size: 40px;
}
#error h3 {
    position: absolute;
    margin: 60% 10%;
}
.contact-top .list {
    float: none;
}
.social-top {
    margin-top: 10px;
}
.footer-bs {
    text-align: center;
}
.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: initial;
}
.hover-post {
    padding-top: 100px;
}
#loading-center-1{
	top: 30%;
	}
.social-top {
    float: initial;
}
}

/*iPhone 6+ Portrait*/
@media screen and (min-device-width : 414px) and (max-device-height : 736px) and (max-resolution: 401dpi)
{
.navbar-brand img {
    margin-top: 0px;
    width: 48%;
}
}

/* Vertical Iphone */
@media only screen and (max-width: 479px) {
.text-vertical-center {
    padding-top: 20%;
}
.hover-post {
    padding-top: 120px;
}
.pricing-74 .pricing-panel .pricing--heading {
    margin-left: 0px;
    text-align: center;
}
.pricing-74 .pricing-panel .pricing--heading h4 {
    font-size: 18px;
}
.team figure {
    margin: 2% 35px;
    padding: 0;
}
figure.effect-zoe p.description {
    font-size: 60%;
}
.cd-primary-nav {
    display: inline-block;
    float: right;
    padding-right: 7%;
    padding-left: 7%;
    height: 95px;
}
.cd-secondary-nav {
    padding: 10px 0 0 0 !important;
}
.cd-secondary-nav ul {
    text-align: center;
}
.social-top {
    margin-top: 10px;
}   
.description--preview p {
    font-size: 11px;
    max-width: 100%;
}
.parallax {
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
}
.descriptions {
    padding: 20px;
}
.post {
    padding: 5px 0;
}
.service-item {
    margin-bottom: 5px;
}
.stats {
    padding: 4%;
}
#team {
    padding: 30px 0;
}
h2{margin-top: 0px;}
#breadcrumbs p {
	padding: 6% 0 2%;
}
figure.effect-zoe p.description {
font-size: 50%;
}
.team figure h2 {
	font-size: 16px;
}
.team figure p {
	letter-spacing: 2px;
	font-size: 50%;
}
.team figure img {
    height: auto;
}
#home {
    padding: 0 5%;
}
#page_title h1 {
    font-size: 30px;
}
.filter-container {
    padding: 0;
}
ul.filter > li > a {
    font-size: 15px;
    line-height: 15px;
}
h2 {
    font-size: 35px;
}
figure.effect-zoe p.description {
    font-size: 60%;
	}
.inner {
    padding-top: 25%;
    padding-bottom: 0;
}
.parallax-window {
    min-height: 150px;
    background-color: rgba(0, 0, 0, 0.6) !important;
}
.text-vertical-center h1 {
    margin-top: 20%;
	font-size: 25px;
}
.text-vertical-center h3 {
    font-size: 15px;
}
#defaultCountdown {
	margin-left: 13%;
	padding-bottom: 9%;
			}
.countdown-section {
	display: block;
	float: left;
	text-align: center;
	width:100px;
	height:100px;
	border-radius: 15% 15%;
	-webkit-border-radius: 15% 15%;
	-moz-border-radius: 15% 15%;
	border:solid 1px #fff;
	text-align:center;
	margin:5px 20px;
}

.countdown-amount {
    font-size: 35px;
	font-weight:700;
	line-height:75px;
}
.countdown-period {
    display: block;
	line-height:3px;
	color:#03a3e4;
	font-size:10px;
	font-weight:100;
}
 #map {
	position: relative;
	height: 300px;
}
.about, .services, .testimonials, .contact {
    padding: 40px 0;
}
.navbar-brand {
    height: 10px;
    padding: 0px 15px;
}
.navbar-brand img {
    margin-top: -40px;
    width: 70%;
}
#error h2 {
    position: absolute;
    margin: 50% 10%;
    text-shadow: 2px 2px #ffffff;
}
#error h3 {
    position: absolute;
    margin: 90% 10%;
}
.footer-bs {
    text-align: center;
}
.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns {
    padding: 0;
}
.Modern-Slider .item .img-fill {
    height: 340px !important;
}
}
