<h1>{#I-17#}</h1>

<form action="{#url#}" method="post">
<input type="hidden" name="step" value="config" />


<div class="input"><p>{#I-18#}</p>
<input size="50" class="text" type="text" name="url" value="{#url#}" />
</div>

<div class="input"><p>{#I-19#}</p>
<input size="50" class="text" type="text" name="dir" value="{#path#}" />
</div>


<!-- begin buttons -->
<div class="input">
	<input class="button" type="submit" value="{#I-20#}" />
</div>
<!-- end buttons -->
</form>