<h1>{#I-15#}</h1>

<form action="{#url#}" method="post">
<input type="hidden" name="step" value="cfg" />

{#message#}

<!-- begin buttons -->
<div class="input">
	<input class="button" type="submit" value="{#button#}" />
</div>
<!-- end buttons -->
</form>