<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="{#direction#}" lang="en-US">

<!-- BEGIN html head -->
<meta http-equiv="Content-Type" content="text/html; charset={#charset#}" />
<title>{#G-01#}</title>
<link rel="stylesheet" type="text/css" href="installer/data/templates/style.css" />

<!--RTL-->
</head>
<!-- END html head -->

<body>

<!-- BEGIN wrapper -->
<div id="wrapper"><div class="buffer">

	
	
	
	<!-- BEGIN content -->
	<div id="content">
	
	{#DATA#}
		
	</div>
	<!-- END content -->
	
	
	<div class="break"></div>
	</div>
	<!-- END body -->

</div>


</body>

</html>
